/* Fonts */
/* line 3, ../scss/layout.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Wrapper */
/* line 8, ../scss/layout.scss */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
/* line 1, ../../scss/blocks/header.scss */
.header {
  margin: 20px 0px;
}
/* line 7, ../../scss/blocks/header.scss */
.header .global-navigation ul {
  list-style: none;
}
/* line 11, ../../scss/blocks/header.scss */
.header .global-navigation ul li a {
  text-decoration: none;
}
