/* Fonts */
/* line 3, ../scss/layout.scss */
html,
body {
  height: 100%;
}

/* line 8, ../scss/layout.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 15, ../scss/layout.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 20, ../scss/layout.scss */
input {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 25, ../scss/layout.scss */
input:focus {
  outline: none;
}

/* line 30, ../scss/layout.scss */
.wrapper {
  min-height: 100%;
  margin-bottom: -62px;
}

/* line 35, ../scss/layout.scss */
.wrapper:after {
  content: "";
  display: block;
  height: 62px;
}
/* line 1, ../../scss/blocks/content.scss */
.content {
  max-width: 960px;
  margin: 0 auto;
}
/* line 1, ../../scss/blocks/footer.scss */
.footer {
  background-color: #1c1c1c;
  padding: 20px;
}
/* line 5, ../../scss/blocks/footer.scss */
.footer__content {
  max-width: 960px;
  margin: 0 auto;
}
/* line 9, ../../scss/blocks/footer.scss */
.footer__content p {
  color: #fff;
}
/* line 3, ../../scss/blocks/form.scss */
.form__label {
  font-size: 14px;
  margin-right: 5px;
  font-style: italic;
}
/* line 9, ../../scss/blocks/form.scss */
.form__input {
  font-size: 14px;
  padding: 5px;
}
/* line 13, ../../scss/blocks/form.scss */
.form__input-holder {
  display: inline-block;
  border: solid 1px #d4d4d4;
  margin-right: 5px;
}
/* line 20, ../../scss/blocks/form.scss */
.form__submit-btn {
  text-decoration: none;
  background-color: #d4d4d4;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
}
/* line 27, ../../scss/blocks/form.scss */
.form__submit-btn:hover {
  background-color: #000;
}
/* line 1, ../../scss/blocks/header.scss */
.header {
  padding: 20px 0px;
  background-color: #000;
}
/* line 6, ../../scss/blocks/header.scss */
.header .global-nav {
  margin: 0 auto;
  max-width: 960px;
}
/* line 10, ../../scss/blocks/header.scss */
.header .global-nav__ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* line 16, ../../scss/blocks/header.scss */
.header .global-nav__ul li {
  float: left;
}
/* line 19, ../../scss/blocks/header.scss */
.header .global-nav__ul li a {
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  float: left;
}
/* line 29, ../../scss/blocks/header.scss */
.header .global-nav--home .list--home {
  background-color: #5d5d5d;
}
/* line 34, ../../scss/blocks/header.scss */
.header .global-nav--about .list--about {
  background-color: #5d5d5d;
}
/* line 1, ../../scss/blocks/home.scss */
.home {
  padding: 20px 10px;
}
/* line 4, ../../scss/blocks/home.scss */
.home h1 {
  margin: 0px 0px 20px;
}
/* line 2, ../../scss/blocks/item.scss */
.item__header {
  background-color: #d4d4d4;
}
/* line 6, ../../scss/blocks/item.scss */
.item__header a {
  overflow: hidden;
  color: #000;
  text-decoration: none;
}
/* line 12, ../../scss/blocks/item.scss */
.item__header h1 {
  margin: 0px;
  padding: 10px;
  font-size: 14px;
}
/* line 19, ../../scss/blocks/item.scss */
.item__content {
  border: solid 1px #d4d4d4;
  padding: 10px;
  font-size: 12px;
  min-height: 65px;
}
/* line 27, ../../scss/blocks/item.scss */
.item__date {
  padding-bottom: 5px;
}
/* line 31, ../../scss/blocks/item.scss */
.item__func {
  border-bottom: solid 3px #d4d4d4;
  overflow: hidden;
}
/* line 35, ../../scss/blocks/item.scss */
.item__func-left {
  float: left;
  text-align: left;
}
/* line 39, ../../scss/blocks/item.scss */
.item__func-right {
  float: right;
  text-align: right;
}
/* line 1, ../../scss/blocks/loader.scss */
.loader {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 14, ../../scss/blocks/loader.scss */
.loader__content {
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
  color: #000;
  text-align: center;
  padding: 30px 10px;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 0%;
  width: 200px;
  margin: 25% auto 0;
}
/* line 30, ../../scss/blocks/loader.scss */
.loader--isactive {
  opacity: 1;
  visibility: visible;
}
/* line 35, ../../scss/blocks/loader.scss */
.loader--isactive .loader__content {
  margin: 25% auto 0;
}
/* line 40, ../../scss/blocks/loader.scss */
.loader--inactive {
  opacity: 0;
  visibility: hidden;
}
/* line 45, ../../scss/blocks/loader.scss */
.loader--inactive .loader__content {
  margin: 0% auto 0;
}
/* line 3, ../../scss/blocks/main.scss */
.main__nav {
  padding: 20px 10px;
  border-bottom: solid 1px #000;
  overflow: hidden;
}
/* line 8, ../../scss/blocks/main.scss */
.main__nav-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 14, ../../scss/blocks/main.scss */
.main__nav-ul a {
  float: left;
  padding: 5px 20px;
  text-decoration: none;
  background-color: #5d5d5d;
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
}
/* line 25, ../../scss/blocks/main.scss */
.main__nav-link {
  padding: 5px 20px 5px 10px;
  float: left;
}
/* line 30, ../../scss/blocks/main.scss */
.main__nav-plain {
  padding: 7px 0px;
  font-size: 14px;
}
/* line 37, ../../scss/blocks/main.scss */
.main__nav--event .list--event a {
  background-color: #000;
}
/* line 44, ../../scss/blocks/main.scss */
.main__nav--venue .list--venue a {
  background-color: #000;
}
/* line 51, ../../scss/blocks/main.scss */
.main__nav--production .list--production a {
  background-color: #000;
}
/* line 58, ../../scss/blocks/main.scss */
.main__filter {
  overflow: hidden;
  border-bottom: solid 1px #000;
  padding: 20px 10px;
}
/* line 63, ../../scss/blocks/main.scss */
.main__filter-left {
  float: left;
  width: 50%;
}
/* line 68, ../../scss/blocks/main.scss */
.main__filter-right {
  float: right;
  width: 50%;
  text-align: right;
}
/* line 75, ../../scss/blocks/main.scss */
.main__list {
  padding: 20px 10px;
}
/* line 78, ../../scss/blocks/main.scss */
.main__list-inner {
  overflow: hidden;
  margin-left: -2%;
}
/* line 83, ../../scss/blocks/main.scss */
.main__list-item {
  float: left;
  margin: 0 0 20px 2%;
}
/* line 88, ../../scss/blocks/main.scss */
.main__list-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 94, ../../scss/blocks/main.scss */
.main__list-item--small {
  overflow-x: hidden;
  overflow-y: auto;
  width: 48%;
}
@media (max-width: 700px) {
  /* line 83, ../../scss/blocks/main.scss */
  .main__list-item {
    width: 98%;
  }
}
/* line 104, ../../scss/blocks/main.scss */
.main__list-item--large {
  width: 98%;
}
